#  WEB SCRAPPING ASSIGNMENT - 2

***Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.***

In [5]:


def Q1():
    # Importing essential libraries
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    
    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore")
    
    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    
    # Scrapping titles from the url
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)
    
    
    # Scrapping location from the url
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    # Scrapping company name from the url
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
    
    # Scrapping experience from the url
    experience = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi experience')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
    
    # Creating a dataframe object to store the scrapped data

    DataAnalyst_Banglore = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Experience_Required' : Experience_Required[0:10] })
    
    # Returning the Dataframe
    return DataAnalyst_Banglore

In [6]:
Q1()

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Business Analyst and Data Analyst,"Delhi NCR, Bengaluru, Hyderabad",Tech Mahindra Ltd.,7-12 Yrs
2,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,0-3 Yrs
3,Intern - DFM Data Analyst,Bengaluru,GLOBALFOUNDRIES Engineering Private Limited,0-5 Yrs
4,Hiring Data Analysts on Contract Third party p...,Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
5,Reliability Data Analyst,Bengaluru,Alstom Transport India Ltd.,3-8 Yrs
6,Senior Data Analyst,Bengaluru,Myntra,2-7 Yrs
7,Data Analyst,Bengaluru,Ladder of changes,0-5 Yrs
8,Data Analyst / Business Analyst,Bengaluru,Altisource,1-6 Yrs
9,Hiring For Data Analyst RE) - Bangalore,Bengaluru(Bellandur),TELEPERFORMANCE GLOBAL SERVICES,2-6 Yrs


***Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.***

In [11]:

# Defining function
def Q2():
    
    # Importing essential libraries
    import numpy as np
    import pandas as pd
    
    from selenium import webdriver
    from bs4 import BeautifulSoup

    
    # Configuring the url
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore")
    
    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    # Scraping titles
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)

    
    # Scaping locations
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    # Scraping company names
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
        
        
     # Creating urls to scrape full descriptions   
    desc_url1 = "https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16043158234975318&xp=1&px=1"
    desc_url2 = "https://www.naukri.com/job-listings-senior-data-analyst-myntra-designs-pvt-ltd-bengaluru-bangalore-2-to-7-years-281020901652?src=jobsearchDesk&sid=16043158234975318&xp=2&px=1"
    desc_url3 = "https://www.naukri.com/job-listings-senior-sourcing-data-analyst-coupa-erp-jaggaer-technicolor-bengaluru-bangalore-3-to-10-years-211020501122?src=jobsearchDesk&sid=16043158234975318&xp=3&px=1"
    desc_url4 = "https://www.naukri.com/job-listings-data-analyst-ladder-of-changes-bengaluru-bangalore-0-to-5-years-311020900299?src=jobsearchDesk&sid=16043158234975318&xp=4&px=1"
    desc_url5 = "https://www.naukri.com/job-listings-data-analyst-business-analyst-altisource-business-solutions-pvt-ltd-bengaluru-bangalore-1-to-6-years-291020005716?src=jobsearchDesk&sid=16043158234975318&xp=5&px=1"
    desc_url6 = "https://www.naukri.com/job-listings-hiring-for-data-analyst-re-bangalore-teleperformance-global-services-pvt-ltd-bengaluru-bangalore-2-to-6-years-281020004246?src=jobsearchDesk&sid=16043158234975318&xp=6&px=1"
    desc_url7 = "https://www.naukri.com/job-listings-data-analyst-pricing-zscaler-inc-pune-bengaluru-bangalore-chandigarh-3-to-6-years-191020501453?src=jobsearchDesk&sid=16043158234975318&xp=7&px=1"
    desc_url8 = "https://www.naukri.com/job-listings-data-analyst-omega-seiki-chennai-pune-delhi-ncr-mumbai-ahmedabad-bengaluru-bangalore-surat-hyderabad-secunderabad-kolkata-0-to-5-years-311020002972?src=jobsearchDesk&sid=16043158234975318&xp=8&px=1"
    desc_url9 = "https://www.naukri.com/job-listings-manager-data-analyst-brand-accelerator-myntra-designs-pvt-ltd-bengaluru-bangalore-2-to-7-years-231020900323?src=jobsearchDesk&sid=16043158234975318&xp=9&px=1"
    desc_url10 = "https://www.naukri.com/job-listings-data-analyst-snaphunt-bengaluru-bangalore-3-to-5-years-030920000554?src=jobsearchDesk&sid=16043158234975318&xp=10&px=1"
    desc_url11 = "https://www.naukri.com/job-listings-data-analyst-simplify360-bengaluru-bangalore-4-to-5-years-291020500625?src=jobsearchDesk&sid=16043158234975318&xp=11&px=1"
    desc_url12 = "https://www.naukri.com/job-listings-data-analyst-and-dashboard-developer-qualitest-group-bengaluru-bangalore-2-to-5-years-221020501006?src=jobsearchDesk&sid=16043158234975318&xp=12&px=1"
    desc_url13 = "https://www.naukri.com/job-listings-data-analyst-liventus-inc-bengaluru-bangalore-3-to-6-years-150720003694?src=jobsearchDesk&sid=16043158234975318&xp=13&px=1"
    desc_url14 = "https://www.naukri.com/job-listings-business-analyst-data-analyst-dotsolved-india-pvt-ltd-chennai-delhi-ncr-bengaluru-bangalore-8-to-13-years-091020003800?src=jobsearchDesk&sid=16043158234975318&xp=14&px=1"
    desc_url15 = "https://www.naukri.com/job-listings-business-data-analyst-kaplan-bengaluru-bangalore-2-to-5-years-301020501172?src=jobsearchDesk&sid=16043158234975318&xp=15&px=1"
    desc_url16 = "https://www.naukri.com/job-listings-business-data-analyst-kaplan-test-prep-bengaluru-bangalore-2-to-5-years-301020500108?src=jobsearchDesk&sid=16043158234975318&xp=16&px=1"
    desc_url17 = "https://www.naukri.com/job-listings-data-analyst-intertrustviteos-corporate-and-fund-services-pvt-ltd-chennai-mumbai-bengaluru-bangalore-7-to-10-years-301020004142?src=jobsearchDesk&sid=16043158234975318&xp=17&px=1"
    desc_url18 = "https://www.naukri.com/job-listings-senior-data-analyst-python-sql-mysql-serving-skill-bengaluru-bangalore-6-to-9-years-111219901925?src=jobsearchDesk&sid=16043158234975318&xp=18&px=1"
    desc_url19 = "https://www.naukri.com/job-listings-senior-clinical-data-analyst-navitas-life-science-chennai-bengaluru-bangalore-2-to-5-years-231020500044?src=jobsearchDesk&sid=16043158234975318&xp=19&px=1"
    desc_url20 = "https://www.naukri.com/job-listings-clinical-data-analyst-navitas-life-science-chennai-bengaluru-bangalore-1-to-4-years-231020500042?src=jobsearchDesk&sid=16043158234975318&xp=20&px=1"
        
    # Creating a dictionary to store the description    
    desc = [desc_url1, desc_url2, desc_url3, desc_url4, desc_url5, desc_url6, desc_url7, desc_url8, desc_url9, desc_url10, desc_url11, desc_url12, desc_url13, desc_url14, desc_url15, desc_url16, desc_url17, desc_url18, desc_url19, desc_url20]
    
    
    # Scraping descriptons
    
    driver.get(desc_url1)
    content = driver.page_source
    soup1 = BeautifulSoup(content)
    job_desc = soup1.find_all('section', class_ = 'job-desc')
    Job_Description1 = []
    for i in job_desc:
        Job_Description1.append(i.text)
        
    driver.get(desc_url2)
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    job_desc = soup2.find_all('section', class_ = 'job-desc')
    Job_Description2 = []
    for i in job_desc:
        Job_Description2.append(i.text)
        
    driver.get(desc_url3)
    content = driver.page_source
    soup3 = BeautifulSoup(content)
    job_desc = soup3.find_all('section', class_ = 'job-desc')
    Job_Description3 = []
    for i in job_desc:
        Job_Description3.append(i.text)

    driver.get(desc_url4)
    content = driver.page_source
    soup4 = BeautifulSoup(content)
    job_desc = soup4.find_all('section', class_ = 'job-desc')
    Job_Description4 = []
    for i in job_desc:
        Job_Description4.append(i.text)
        
    driver.get(desc_url5)
    content = driver.page_source
    soup5 = BeautifulSoup(content)
    job_desc = soup5.find_all('section', class_ = 'job-desc')
    Job_Description5 = []
    for i in job_desc:
        Job_Description5.append(i.text)
        
    driver.get(desc_url6)
    content = driver.page_source
    soup6 = BeautifulSoup(content)
    job_desc = soup6.find_all('section', class_ = 'job-desc')
    Job_Description6 = []
    for i in job_desc:
        Job_Description6.append(i.text)
        
    driver.get(desc_url7)
    content = driver.page_source
    soup7 = BeautifulSoup(content)
    job_desc = soup7.find_all('section', class_ = 'job-desc')
    Job_Description7 = []
    for i in job_desc:
        Job_Description7.append(i.text)
        
    driver.get(desc_url8)
    content = driver.page_source
    soup8 = BeautifulSoup(content)
    job_desc = soup8.find_all('section', class_ = 'job-desc')
    Job_Description8 = []
    for i in job_desc:
        Job_Description8.append(i.text)
        
    driver.get(desc_url9)
    content = driver.page_source
    soup9 = BeautifulSoup(content)
    job_desc = soup9.find_all('section', class_ = 'job-desc')
    Job_Description9 = []
    for i in job_desc:
        Job_Description9.append(i.text)
        
    driver.get(desc_url10)
    content = driver.page_source
    soup10 = BeautifulSoup(content)
    job_desc = soup10.find_all('section', class_ = 'job-desc')
    Job_Description10 = []
    for i in job_desc:
        Job_Description10.append(i.text)
        
    driver.get(desc_url11)
    content = driver.page_source
    soup11 = BeautifulSoup(content)
    job_desc = soup11.find_all('section', class_ = 'job-desc')
    Job_Description11 = []
    for i in job_desc:
        Job_Description11.append(i.text)
        
    driver.get(desc_url12)
    content = driver.page_source
    soup12 = BeautifulSoup(content)
    job_desc = soup12.find_all('section', class_ = 'job-desc')
    Job_Description12 = []
    for i in job_desc:
        Job_Description12.append(i.text)
        
    driver.get(desc_url13)
    content = driver.page_source
    soup13 = BeautifulSoup(content)
    job_desc = soup13.find_all('section', class_ = 'job-desc')
    Job_Description13 = []
    for i in job_desc:
        Job_Description13.append(i.text)
        
    driver.get(desc_url14)
    content = driver.page_source
    soup14 = BeautifulSoup(content)
    job_desc = soup14.find_all('section', class_ = 'job-desc')
    Job_Description14 = []
    for i in job_desc:
        Job_Description14.append(i.text)
        
    driver.get(desc_url15)
    content = driver.page_source
    soup15 = BeautifulSoup(content)
    job_desc = soup15.find_all('section', class_ = 'job-desc')
    Job_Description15 = []
    for i in job_desc:
        Job_Description15.append(i.text)
        
    driver.get(desc_url16)
    content = driver.page_source
    soup16 = BeautifulSoup(content)
    job_desc = soup16.find_all('section', class_ = 'job-desc')
    Job_Description16 = []
    for i in job_desc:
        Job_Description16.append(i.text)
        
    driver.get(desc_url17)
    content = driver.page_source
    soup17 = BeautifulSoup(content)
    job_desc = soup17.find_all('section', class_ = 'job-desc')
    Job_Description17 = []
    for i in job_desc:
        Job_Description17.append(i.text)
        
    driver.get(desc_url18)
    content = driver.page_source
    soup18 = BeautifulSoup(content)
    job_desc = soup18.find_all('section', class_ = 'job-desc')
    Job_Description18 = []
    for i in job_desc:
        Job_Description18.append(i.text)
        
    driver.get(desc_url19)
    content = driver.page_source
    soup19 = BeautifulSoup(content)
    job_desc = soup19.find_all('section', class_ = 'job-desc')
    Job_Description19 = []
    for i in job_desc:
        Job_Description19.append(i.text)
        
    driver.get(desc_url20)
    content = driver.page_source
    soup20 = BeautifulSoup(content)
    job_desc = soup20.find_all('section', class_ = 'job-desc')
    Job_Description20 = []
    for i in job_desc:
        Job_Description20.append(i.text)
        
    # Appending all the scrapped descriptions
    JD = Job_Description1+Job_Description2+Job_Description3+Job_Description4+Job_Description5+Job_Description6+Job_Description7+Job_Description8+Job_Description9+Job_Description10+Job_Description11+Job_Description12+Job_Description13+Job_Description14+Job_Description15+Job_Description16+Job_Description17+Job_Description18+Job_Description19+Job_Description20
    
    
    # Creating a dataframe to store the scrapped information
    Naukri_listng = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Job_Description' : JD[0:10]})
    
    # Returning the dataframe
    return Naukri_listng

In [12]:
Q2()

,Job_Title,Job_Location,Company_Name,Job_Description
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Job descriptionRoles and ResponsibilitiesSENIO...
1,Business Analyst and Data Analyst,"Delhi NCR, Bengaluru, Hyderabad",Tech Mahindra Ltd.,Job description Key roles of this position...
2,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,Job descriptionRoles and ResponsibilitiesRespo...
3,Intern - DFM Data Analyst,Bengaluru,GLOBALFOUNDRIES Engineering Private Limited,Job descriptionGreetings from “Altisource busi...
4,Hiring Data Analysts on Contract Third party p...,Bengaluru,Flipkart Internet Private Limited,Job descriptionHiring for Data Analyst(RE)Qual...
5,Reliability Data Analyst,Bengaluru,Alstom Transport India Ltd.,Job description We?re looking for a data analy...
6,Senior Data Analyst,Bengaluru,Myntra,Job descriptionRoles and ResponsibilitiesRespo...
7,Data Analyst,Bengaluru,Ladder of changes,"Job description The Offer Join an exciting, aw..."
8,Data Analyst / Business Analyst,Bengaluru,Altisource,Job description Responsibilities: ? Managing...
9,Hiring For Data Analyst RE) - Bangalore,Bengaluru(Bellandur),TELEPERFORMANCE GLOBAL SERVICES,Job description Job description Any Datab...



***Q3: In this question you have to scrape data using the filters available on the webpage:***

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company_name,

experience_required.

The location filter to be used is “Delhi/NCR”

The salary filter to be used is “3-6” lakhs

In [22]:
def Q3():
    # Importing essential libraries
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    
    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityType=25.9.31")
    
    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    
    # Scrapping titles from the url
    title = soup.find_all('div', class_ = 'info fleft')
    Job_Title = []
    for i in title:
        Job_Title.append(i.a.text)
    
    
    # Scrapping location from the url
    location = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    Job_Location = []
    for i in location:
        Job_Location.append(i.text)
    
    
    # Scrapping company name from the url
    coname = soup.find_all('div', class_ = 'mt-7 companyInfo subheading lh16')
    Company_Name = []
    for i in coname:
        Company_Name.append(i.a.text)
    
    # Scrapping experience from the url
    experience = soup.find_all('li', class_ = 'fleft grey-text br2 placeHolderLi experience')
    Experience_Required = []
    for i in experience:
        Experience_Required.append(i.text)
    
    # Creating a dataframe object to store the scrapped data

    Dat_ascientist_DelhiNCR = pd.DataFrame({'Job_Title' : Job_Title[0:10], 'Job_Location' : Job_Location[0:10], 'Company_Name' : Company_Name[0:10], 'Experience_Required' : Experience_Required[0:10] })
    
    # Returning the Dataframe
    return Dat_ascientist_DelhiNCR

In [23]:
Q3()

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist,Noida,AlgoScale Technologies Private Limited,1-5 Yrs
1,Data Scientist/Analyst - Machine Learning/Deep...,Delhi,EchoIndia,3-6 Yrs
2,Data Scientist - NLP/ML/Python,Gurgaon Gurugram,Elixir Web Solutions,4-8 Yrs
3,Data Scientist - NLP/ML/Python,Gurgaon Gurugram,Elixir Web Solutions,4-8 Yrs
4,Data Scientist,Delhi,GlobalHunt India Private Limited,3-6 Yrs
5,Data Scientist,Gurgaon,Blue Sky Analytics,1-6 Yrs
6,Data Scientist/BPM/4-8 years,Gurgaon,Crescendo global services,4-7 Yrs
7,Data Analyst/Scientist,"Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
8,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
9,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs



***Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.***

In [27]:
def Q4():
    

# Importing essential libraries
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen

    
# Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")
    
# Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    co_name = soup.find_all('div', class_ = 'jobHeader d-flex justify-content-between align-items-start')

    Company_Name = []

    for i in co_name:
        Company_Name.append(i.text)
        
        
    job_posted = soup.find_all('div', class_ = 'd-flex align-items-end pl-std css-mi55ob')

    Posted_Days_Ago = []

    for i in job_posted:
        Posted_Days_Ago.append(i.text)
        
        
    rating = soup.find_all('span', class_ = 'compactStars')

    Rating = []

    for i in rating:
        Rating.append(i.text)
        
        
        
# Creating a dataframe object to store the scrapped data

    Glassdor_Noida = pd.DataFrame({'Company_Name' : Company_Name[0:10], 'Posted_Days_Ago' : Posted_Days_Ago[0:10], 'Rating' : Rating[0:10]})
    
# Returning the Dataframe
    return Glassdor_Noida

In [28]:
Q4()

                   Company_Name Posted_Days_Ago Rating
0                      xtLytics              3d      3
1   RiseIn Technologies Pvt Ltd            30d+    3.1
2                         Jubna              7d      5
3                 EzappSolution             30d      3
4                      xtLytics              3d    4.5
5            McKinsey & Company              2d    4.2
6                      Ericsson              3d    3.7
7                Biz2Credit Inc             26d    3.4
8            UnitedHealth Group              4d    3.9
9  Salasar New Age Technologies            30d+      5



***Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.***

In [30]:
def Q5():
    
    # Importing essential libraries
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    
    #min_salary = soup.find_all('div', class_ = 'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container')
    #Min_Salary = []
    #for i in min_salary:
    #    Min_Salary.append(i.span.text)
    #len(Min_Salary)
    
    # scrapping salaries
    min_max_salary = soup.find_all('div', class_ = 'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container')
    Min_Max_Salary = []
    for i in min_max_salary:
        Min_Max_Salary.append(i.text)
        
    # Scrapping average salary
    avg_sal = soup.find_all('div', class_ = 'col-2 d-none d-md-flex flex-row justify-content-end')
    Average_Salary = []
    for i in avg_sal:
        Average_Salary.append(i.strong.text)
        
    # Scrapping no. of salaries    
    no_sal = soup.find_all('p', class_ = 'css-1uyte9r css-1kuy7z7 m-0')
    No_of_Salaries = []
    for i in no_sal:
        No_of_Salaries.append(i.text)
        
    # Scrapping the name of the company    
    name = soup.find_all('p', class_ = 'm-0')
    access_dict = [2,8,14,20,26,32,38,44,50,56,62,68,74,80,86,92,98,104,110,116]
    Company_name = []
    for i in access_dict:
        Company_name.append(name[i].text)
        
    # Returning the dataframe    
    Glassdoor_Noida = pd.DataFrame({'Company_name' : Company_name[0:10], 'No_of_Salaries' : No_of_Salaries[0:10], 'Average_Salary' : Average_Salary[0:10], 'Min_Max_Salary' : Min_Max_Salary[0:10]})
    return Glassdoor_Noida

In [31]:
Q5()

                     Company_name No_of_Salaries Average_Salary Min_Max_Salary
0                       Delhivery    11 salaries    ₹ 13,18,563  ₹706K₹11,513K
1                       Accenture     8 salaries     ₹ 9,85,497   ₹572K₹1,300K
2                             IBM     7 salaries     ₹ 7,53,602   ₹581K₹2,704K
3              UnitedHealth Group     7 salaries    ₹ 13,23,634   ₹710K₹1,559K
4  Cognizant Technology Solutions     6 salaries     ₹ 9,97,979   ₹785K₹1,251K
5              Valiance Solutions     6 salaries     ₹ 7,72,507   ₹497K₹1,140K
6              Vidooly Media Tech     6 salaries       ₹ 12,689        ₹8K₹20K
7                Analytics Vidhya     6 salaries       ₹ 21,215       ₹14K₹22K
8       Tata Consultancy Services     5 salaries     ₹ 6,77,498   ₹480K₹1,000K
9              Ericsson-Worldwide     5 salaries     ₹ 7,34,456   ₹460K₹1,598K

# Objective 6 : 

***Q6: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:***

1. Brand

2. Product Description

3. Price

4. Discount %

In [32]:
def Q6():
    
    # Importing essential libraries

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    brand = soup.find_all('div', class_ = '_2B_pmu')
    Brand = []
    for i in brand:
        Brand.append(i.text[0:40])

    # Scraping description of the product
    description = soup.find_all('a', class_ = '_2mylT6')
    Product_Description = []
    for i in description:
        Product_Description.append(i.text)

    # Scraping prce of the product
    price = soup.find_all('div', class_ = '_1vC4OE')
    Price = []
    for i in price:
        Price.append(i.text[0:40])

    # Scraping discount on the product
    discount = soup.find_all('div', class_ = 'VGWI6T')
    Discount = []
    for i in discount:
        Discount.append(i)

    
    # Scaping next page for more results
    driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2")

    # Creating soup
    content = driver.page_source
    soup1 = BeautifulSoup(content)
    
    # Scraping brand of the products - page 2
    brand1 = soup1.find_all('div', class_ = '_2B_pmu')
    Brand1 = []
    for i in brand1:
        Brand1.append(i.text[0:40])

    # Sctraping description of the products - page 2
    description1 = soup1.find_all('a', class_ = '_2mylT6')
    Product_Description1 = []
    for i in description1:
        Product_Description1.append(i.text)

    # Scraping price of the products - page 2
    price1 = soup1.find_all('div', class_ = '_1vC4OE')
    Price1 = []
    for i in price1:
        Price1.append(i.text[0:40])

    # Scraping discount on the products - page 2
    discount1 = soup1.find_all('div', class_ = 'VGWI6T')
    Discount1 = []
    for i in discount1:
        Discount1.append(i)

    # Scraping next page for more results
    driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3")

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    
    # Scraping brand of the product - page 3
    brand2 = soup2.find_all('div', class_ = '_2B_pmu')
    Brand2 = []
    for i in brand2:
        Brand2.append(i.text[0:40])

    # Scraping description of the product - page 3
    description2 = soup2.find_all('a', class_ = '_2mylT6')
    Product_Description2 = []
    for i in description2:
        Product_Description2.append(i.text)

    # Scraping price of the product - page 3
    price2 = soup2.find_all('div', class_ = '_1vC4OE')
    Price2 = []
    for i in price2:
        Price2.append(i.text[0:40])
    
    # Scraping discounts on the products - page 3
    discount2 = soup2.find_all('div', class_ = 'VGWI6T')
    Discount2 = []
    for i in discount2:
        Discount2.append(i)

    # Appending lists of all the pages and scrutinizing it appropriately.
    BRAND = Brand2+Brand1+Brand2
    PRODUCT_DESCRIPTION = Product_Description+Product_Description1+Product_Description2
    PRICE = Price[0:40]+Price1[0:40]+Price2[0:40]
    DISCOUNT = Discount[0:40]+Discount1[0:40]+Discount2[0:40]
    
    # Creating a dataframe to store the scrapped information
    Sunglasses = pd.DataFrame({'BRAND' : BRAND[0:100], 'PRODUCT_DESCRIPTION' : PRODUCT_DESCRIPTION[0:100], 'PRICE' : PRICE[0:100], 'DISCOUNT' : DISCOUNT[0:100]})

    # Returning the dataframe
    return Sunglasses

In [33]:
Q6()

,BRAND,PRODUCT_DESCRIPTION,PRICE,DISCOUNT
0,INSH,UV Protection Round Sunglasses (51),"₹2,640",[[40% off]]
1,JUST STYLE,Others Rectangular Sunglasses (54),"₹2,200",[[50% off]]
2,Billion,UV Protection Wayfarer Sunglasses (Free Size),₹674,[[25% off]]
3,Fossil,UV Protection Round Sunglasses (54),₹312,[[87% off]]
4,IRUS by IDEE,"Gradient, Mirrored, UV Protection Aviator Sung...",₹199,[[86% off]]
...,...,...,...,...
95,INSH,"UV Protection, Night Vision, Riding Glasses Re...",₹327,[[86% off]]
96,Eyevy,"Gradient, UV Protection, Others Retro Square S...",₹379,[[62% off]]
97,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹296,[[78% off]]
98,Trendy Glasses,UV Protection Retro Square Sunglasses (Free Size),₹227,[[88% off]]
99,Fossil,Gradient Rectangular Sunglasses (53),"₹2,420",[[45% off]]



***Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.***

In [34]:
def Q7():

    
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen


    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    
    rating = soup.find_all('div', class_ = 'hGSR34 E_uFuv')

    Ratings = []

    for i in rating:
        Ratings.append(i.text)
        
        
    rev_sum = soup.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum = []
    for i in rev_sum:
        Rev_Sum.append(i.text)
        
    rev = soup.find_all('div', class_ = 'qwjRop')
    Review = []
    for i in rev:
        Review.append(i.text)
        
        
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2")

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)


    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3")

    # Creating soup
    content = driver.page_source
    soup3 = BeautifulSoup(content)
        

    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4")

    # Creating soup
    content = driver.page_source
    soup4 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5")

    # Creating soup
    content = driver.page_source
    soup5 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6")

    # Creating soup
    content = driver.page_source
    soup6 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7")

    # Creating soup
    content = driver.page_source
    soup7 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8")

    # Creating soup
    content = driver.page_source
    soup8 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9")

    # Creating soup
    content = driver.page_source
    soup9 = BeautifulSoup(content)
    
    
    driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10")

    # Creating soup
    content = driver.page_source
    soup10 = BeautifulSoup(content)
    
    
    rating2 = soup2.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings2 = []
    for i in rating2:
        Ratings2.append(i.text)
    Ratings2.insert(-1, 1)

    rev_sum2 = soup2.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum2 = []
    for i in rev_sum2:
        Rev_Sum2.append(i.text)

    rev2 = soup2.find_all('div', class_ = 'qwjRop')
    Review2 = []
    for i in rev2:
        Review2.append(i.text)

        
    rating3 = soup3.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings3 = []
    for i in rating3:
        Ratings3.append(i.text)

    rev_sum3 = soup3.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum3 = []
    for i in rev_sum3:
        Rev_Sum3.append(i.text)

    rev3 = soup3.find_all('div', class_ = 'qwjRop')
    Review3 = []
    for i in rev3:
        Review3.append(i.text)
        
        
        
    rating4 = soup4.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings4 = []
    for i in rating4:
        Ratings4.append(i.text)

    rev_sum4 = soup4.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum4 = []
    for i in rev_sum4:
        Rev_Sum4.append(i.text)

    rev4 = soup4.find_all('div', class_ = 'qwjRop')
    Review4 = []
    for i in rev4:
        Review4.append(i.text) 
        
        
        
    rating5 = soup5.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings5 = []
    for i in rating5:
        Ratings5.append(i.text)

    rev_sum5 = soup5.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum5 = []
    for i in rev_sum5:
        Rev_Sum5.append(i.text)

    rev5 = soup5.find_all('div', class_ = 'qwjRop')
    Review5 = []
    for i in rev5:
        Review5.append(i.text)
        
        
    rating6 = soup6.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings6 = []
    for i in rating6:
        Ratings6.append(i.text)

    rev_sum6 = soup6.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum6 = []
    for i in rev_sum6:
        Rev_Sum6.append(i.text)

    rev6 = soup6.find_all('div', class_ = 'qwjRop')
    Review6 = []
    for i in rev6:
        Review6.append(i.text)
        
        

    rating7 = soup7.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings7 = []
    for i in rating7:
        Ratings7.append(i.text)

    rev_sum7 = soup7.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum7 = []
    for i in rev_sum7:
        Rev_Sum7.append(i.text)

    rev7 = soup7.find_all('div', class_ = 'qwjRop')
    Review7 = []
    for i in rev7:
        Review7.append(i.text)
        
        
    rating8 = soup8.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings8 = []
    for i in rating8:
        Ratings8.append(i.text)

    rev_sum8 = soup8.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum8 = []
    for i in rev_sum8:
        Rev_Sum8.append(i.text)

    rev8 = soup8.find_all('div', class_ = 'qwjRop')
    Review8 = []
    for i in rev8:
        Review8.append(i.text)
        
        
    rating9 = soup9.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings9 = []
    for i in rating9:
        Ratings9.append(i.text)

    rev_sum9 = soup9.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum9 = []
    for i in rev_sum9:
        Rev_Sum9.append(i.text)

    rev9 = soup9.find_all('div', class_ = 'qwjRop')
    Review9 = []
    for i in rev9:
        Review9.append(i.text)
        
        
    rating10 = soup10.find_all('div', class_ = 'hGSR34 E_uFuv')
    Ratings10 = []
    for i in rating10:
        Ratings10.append(i.text)

    rev_sum10 = soup10.find_all('p', class_ = '_2xg6Ul')
    Rev_Sum10 = []
    for i in rev_sum10:
        Rev_Sum10.append(i.text)

    rev10 = soup10.find_all('div', class_ = 'qwjRop')
    Review10 = []
    for i in rev10:
        Review10.append(i.text)
        
        
    RATING = Ratings + Ratings2 + Ratings3 + Ratings4 + Ratings5 + Ratings6 + Ratings7 + Ratings8 + Ratings9 + Ratings10
    SUMMARY_REVIEW = Rev_Sum + Rev_Sum2 + Rev_Sum3 + Rev_Sum4 + Rev_Sum5 + Rev_Sum6 + Rev_Sum7 + Rev_Sum8 + Rev_Sum9 + Rev_Sum10
    FULL_REVIEW = Review + Review2 + Review3 + Review4 + Review5 + Review6 + Review7 + Review8 + Review9 + Review10
    
    
    # Creating a dataframe to store the scrapped information
    Reviews_Data = pd.DataFrame({'RATING' : RATING, 'SUMMARY_REVIEW' : SUMMARY_REVIEW, 'FULL_REVIEW' : FULL_REVIEW})

    # Returning the dataframe
    return Reviews_Data

In [35]:
Q7()

,RATING,SUMMARY_REVIEW,FULL_REVIEW
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
...,...,...,...
95,5,Great product,Terrific!!! Lucky to get this phone in first l...
96,3,Nice,Iphone 11 black 64gb is really a cool phone 1....
97,3,Nice,"Although it’s an iPhone, it doesn’t give anyth..."
98,5,Just wow!,Apple i Phone is the best phone available in t...
99,5,Brilliant,use outside gives a outstanding experience ......



***Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.***

In [36]:

def Q8():
    
    # Importing essential libraries

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen
    
    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    # Scrapping the brand name - page 1
    brand = soup.find_all('div', class_ = '_2B_pmu')
    Brand = []
    for i in brand:
        Brand.append(i.text)
        
    # Scrapping the desc - page 1
    desc = soup.find_all('a', class_ = '_2mylT6')
    Product_Description = []
    for i in desc:
        Product_Description.append(i.text)
        
    # Scrapping the price - page 1
    price = soup.find_all('div', class_ = '_1vC4OE')[0:40]
    Price = []
    for i in price:
        Price.append(i.text)

    # Scrapping the discounts - page 1
    discount = soup.find_all('div', class_ = 'VGWI6T')[0:40]
    Discount = []
    for i in discount:
        Discount.append(i.text)
      
    # Getting drivers for page 2
    driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2")

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    
    # Scrapping the brand - page 2
    brand2 = soup2.find_all('div', class_ = '_2B_pmu')
    Brand2 = []
    for i in brand2:
        Brand2.append(i.text)

    # Scrapping the sescription - page 2
    desc2 = soup2.find_all('a', class_ = '_2mylT6')
    Product_Description2 = []
    for i in desc2:
        Product_Description2.append(i.text)

    # Scrapping the price - page 2
    price2 = soup2.find_all('div', class_ = '_1vC4OE')[0:40]
    Price2 = []
    for i in price2:
        Price2.append(i.text)

    # Scrappig the discounts - page 2
    discount2 = soup2.find_all('div', class_ = 'VGWI6T')[0:40]
    Discount2 = []
    for i in discount2:
        Discount2.append(i.text)
        
    # Getting the drivers for page 3 
    driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3")

    # Creating soup
    content = driver.page_source
    soup3 = BeautifulSoup(content)
    
    # Scrapping the brand for page 3
    brand3 = soup3.find_all('div', class_ = '_2B_pmu')
    Brand3 = []
    for i in brand3:
        Brand3.append(i.text)

    # Scrapping description for page 3
    desc3 = soup3.find_all('a', class_ = '_2mylT6')
    Product_Description3 = []
    for i in desc3:
        Product_Description3.append(i.text)

    # Scrapping price for page 3
    price3 = soup3.find_all('div', class_ = '_1vC4OE')[0:40]
    Price3 = []
    for i in price3:
        Price3.append(i.text)

    # Scrapping discounts for page 3
    discount3 = soup3.find_all('div', class_ = 'VGWI6T')[0:40]
    Discount3 = []
    for i in discount3:
        Discount3.append(i.text)
        
    # Appending 
    BRAND = Brand + Brand2 + Brand3
    PRODUCT_DESCRIPTION = Product_Description + Product_Description2 + Product_Description3
    PRICE = Price + Price2 + Price3
    DISCOUNT = Discount + Discount2 + Discount3
    
    
    # Creating a dataframe to store the scrapped information
    Sneakers_Data = pd.DataFrame({'BRAND' : BRAND[0:100], 'PRODUCT_DESCRIPTION' : PRODUCT_DESCRIPTION[0:100], 'PRICE' : PRICE[0:100], 'DISCOUNT' : DISCOUNT[0:100]})

    # Returning the dataframe
    return Sneakers_Data

In [37]:
Q8()

       BRAND                                PRODUCT_DESCRIPTION PRICE DISCOUNT
0     Chevit  Combo Pack of 4 Casual Sneakers With Sneakers ...  ₹461  76% off
1     Chevit  171 Smart Tan Lace-Ups Casuals for Men Sneaker...  ₹236  52% off
2     Chevit  Chevit Latest Fashion Combo Pack of 2 Pairs Ca...  ₹525  64% off
3   Hotstyle                                   Sneakers For Men  ₹230  53% off
4     Chevit  170 Smart Grey Lace-Ups Casuals for Men Sneake...  ₹236  52% off
..       ...                                                ...   ...      ...
95  Claptrap  Mesh Walking Casual Sneakers Shoes for Men And...  ₹449  10% off
96   believe                  Sneakers for men Sneakers For Men  ₹399  60% off
97     Asian  Skypy-31 Walking Shoes,Training Shoes,Sneakers...  ₹473  21% off
98     Birde      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹498  50% off
99    Rontex                                   Sneakers For Men  ₹426  57% off

[100 rows x 4 columns]


***Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get***

In [38]:
def Q9():
    

    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen

    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)
    
    
    brand = soup.find_all('h3', class_ = 'product-brand')
    Brand = []
    for i in brand:
        Brand.append(i.text)
    len(Brand)
    
    
    desc = soup.find_all('h4', class_ = 'product-product')
    Description = []
    for i in desc:
        Description.append(i.text)
    len(Description)
    
    
    price = soup.find_all('div', class_ = 'product-price')
    Price = []
    for i in price:
        Price.append(i.span.text)
    len(Price)
    
    
    driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0")

    # Creating soup
    content = driver.page_source
    soup2 = BeautifulSoup(content)
    
    
    brand2 = soup2.find_all('h3', class_ = 'product-brand')
    Brand2 = []
    for i in brand2:
        Brand2.append(i.text)
    len(Brand2)
    
    
    desc2 = soup2.find_all('h4', class_ = 'product-product')
    Description2 = []
    for i in desc2:
        Description2.append(i.text)
    len(Description2)
    
    
    price2 = soup2.find_all('div', class_ = 'product-price')
    Price2 = []
    for i in price2:
        Price2.append(i.span.text)
    len(Price2)
    
    
    BRAND = Brand + Brand2
    DESCRIPTION = Description + Description2
    PRICE = Price + Price2
    
    
    # Creating a dataframe to store the scrapped information
    Shoes_Data = pd.DataFrame({'BRAND' : BRAND[0:100], 'DESCRIPTION' : DESCRIPTION[0:100], 'PRICE' : PRICE[0:100]})
    

    # Returning the dataframe
    return Shoes_Data

In [39]:
Q9()

,BRAND,DESCRIPTION,PRICE
0,ADIDAS,Men FluidFlow Running Shoes,Rs. 7999
1,ADIDAS Originals,Men NMD R1 Sneakers,Rs. 10299Rs. 12999
2,ADIDAS Originals,Men Nite Jogger Shoes,Rs. 11199Rs. 13999
3,ADIDAS Originals,Stan Smith Leather Sneakers,Rs. 7999
4,ADIDAS Originals,Men Solid AR Training Shoes,Rs. 6399Rs. 7999
...,...,...,...
95,Cole Haan,Men Traveller Leather Penny Loafers,Rs. 9999Rs. 19999
96,Cole Haan,Men Leather HARRISON GRAND 2.0 OXFORD,Rs. 9999Rs. 19999
97,Heel & Buckle London,Men Velvet Loafers,Rs. 7693Rs. 10990
98,DIESEL,Men Mid-Top Sneakers,Rs. 7800Rs. 13000
99,Geox,Men Leather Driving Shoes,Rs. 7999



***Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.After setting the filters scrape first 10 laptops data***

In [40]:

def Q10():
    
    # Importing essential libraries
    import numpy as np
    import pandas as pd

    from selenium import webdriver
    from bs4 import BeautifulSoup

    import requests
    import urllib.request
    from urllib.request import urlopen

    # Configure the webdriver
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1604585877&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")

    # Creating soup
    content = driver.page_source
    soup = BeautifulSoup(content)  
    
    # Scraping title
    title = soup.find_all('span', class_ = 'a-size-medium a-color-base a-text-normal')[0:10]
    Title = []
    for i in title:
        Title.append(i.text)
    
    # Scraping Ratings
    rating = soup.find_all('a', class_ = 'a-popover-trigger a-declarative')[0:10]
    Ratings = []
    for i in rating:
        Ratings.append(i.text)

    
    # Scrapping the Price
    price = soup.find_all('span', class_ = 'a-price-whole')[0:10]
    Price = []
    for i in price:
        Price.append(i.text)
    len(Price)
    
    
   
    # Creating a dataframe to store the scrapped information
    Laptop_Data = pd.DataFrame({'Title' : Title[0:10], 'Ratings' : Ratings[0:10], 'Price' : Price[0:10]})

    # Returning the dataframe
    return Laptop_Data

In [41]:
Q10()

,Title,Ratings,Price
0,DELL XPS 9500 15.6-inch FHD Laptop (10th Gen C...,3.4 out of 5 stars,"1,85,990"
1,Dell XPS 9370 13.3-inch FHD Display Thin & Lig...,2.7 out of 5 stars,"1,18,994"
2,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,4.1 out of 5 stars,"81,990"
3,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.4 out of 5 stars,"76,990"
4,"ASUS TUF Gaming F15 Laptop 15.6"" FHD Intel Cor...",4.2 out of 5 stars,"73,990"
5,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,4.3 out of 5 stars,"78,990"
6,"ASUS TUF Gaming F15 Laptop 15.6"" FHD 144Hz Int...",4.0 out of 5 stars,"83,990"
7,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",3.8 out of 5 stars,"1,29,990"
8,Dell G3 3500 Gaming Laptop 15.6-inch FHD 120 H...,3.9 out of 5 stars,"88,990"
9,"Acer Nitro 5 Intel Core i7 10750H 15.6"" FHD IP...",3.4 out of 5 stars,"79,990"